@import "./components/Layout/layout";
@import "./components/Sidebar/sidebar";
@import "./components/Header/header";
@import "./components/MainApp/main-app";
@import "./components/MainApp/CandidateCard/candidate-card";
@import "./components/Input/input";
@import "./components/Select/select";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}